[Unit]
Description=Gmeetsbot Service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker-compose -f /opt/pharmacy/docker-compose.yml --compatibility up
ExecStop=/usr/bin/docker-compose -f /opt/pharmacy/docker-compose.yml--compatibility down
Restart=on-failure

[Install]
WantedBy=multi-user.target
